/* TOGGLE */
.aw-toggle {
	float: right;
	line-height: 50px;
	margin-right: 15px;
	color: #fff;
}

.aw-toggle:hover {
	background-color: #64b5f6;
}

.icon-center {
	display: inline-block;
	width: 100%;
	text-align: center;
}

/* MENU */
.aw-menu-name {
	color: #fff;
	font-size: 33px;
	margin-left: 10px;
	position: absolute;
	top: 15%;
}

.aw-menu {
	font-size: 1.1em;
}

.aw-menu>ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.aw-menu>ul a {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	font-weight: 500;
	color: #373737;
}

.aw-menu>ul i {
	margin-right: 6px;
}

.aw-menu>ul a:hover, .aw-menu>ul a:focus {
	background-color: #dfdfdf;
}

.aw-menu>ul .is-selected {
	border-left: 3px solid #1e94d2;
	background-color: #f3f3f3;
}

.aw-menu>ul .is-selected a {
	margin-left: -3px;
	color: #1e94d2;
}

/* PAGE-TITLE */
.aw-page-title {
	margin: 0;
	padding: 20px 0;
	font-size: 1.5em;
	color: #373737;
}

.text-center {
	text-align: center;
	font-family: Arial, Verdana, sans-serif;
	font-size: 10px;
	vertical-align: middle;
}

.materialButton1St {
	width: 62px;
	height: 62px;
	position: fixed;
	right: 3%;
	bottom: 3%
}

.materialButton1St:hover {
	opacity: 0.70;
}

.materialButtonSN {
	width: 62px;
	height: 62px;
}

.materialButtonSN:hover {
	opacity: 0.65;
}

.materialButtonAddMinus {
	width: 24px;
	height: 24px;
	margin-bottom: -05px;
	margin-left: 10px;
}

.materialButtonAddMinus:hover {
	opacity: 0.65;
}

.materialButtonGrid {
	width: 30px;
	height: 30px;
}

.materialButtonGrid:hover {
	opacity: 0.70;
}

.buttonClose {
	width: 28px;
	height: 28px;
	opacity: 0.80;
	position: absolute;
	top: 3%;
}

.buttonClose:hover {
	opacity: 0.65;
}

.confirmButton {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #1e94d2;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#64b5f6),
		to(#1e94d2));
	background-image: linear-gradient(to bottom, #64b5f6, #1e94d2);
	background-repeat: repeat-x;
	border-color: #1e94d2 #1e94d2 #1e94d2;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.column_title {
	font-weight: bold;
	font-size: medium;
}

.about_title {
	font-weight: bold;
	font-size: xx-large;
	margin-left: -10px;
}

.about_title li {
	font-weight: bold;
	font-size: 11pt;
	color: #494949;
	margin-top: 10px;
}

.column_title_calculadora {
	font-weight: bold;
	font-size: 12px;
	text-align: left !important;
	border: none !important;
	background-image: none !important;
	background-color: #ffffff !important;
}

.text_calculadora {
	font-weight: normal;
}

.title_form {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: x-large;
}

.bg-calc {
	pointer-events: none;
	width: 30%;
	height: auto;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.10;
}

@media ( max-width : 640px) {
	.bg-calc {
		width: 75%;
		top: 70%;
	}
}

.panel-login {
	position: absolute;
	right: 35%;
	left: 35%;
	top: 25%;
	border-top-width: 15px;
	border-bottom-width: 15px;
}

@media ( max-width : 950px) {
	.panel-login {
		position: absolute;
		right: 16%;
		left: 16%;
		top: 25%;
		border-top-width: 15px;
		border-bottom-width: 15px;
	}
}

.text_center {
	text-align: center;
	vertical-align: middle;
}

.inputSwitch {
	vertical-align: middle;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.noBorder table, .noBorder tr, .noBorder tbody {
	border: none;
	font-size: 12px;
	background: none;
}

@media ( max-width : 640px) {
	.noBorder table, .noBorder tr, .noBorder td, .noBorder tbody {
		border-bottom-style: solid;
		border-bottom-width: thin;
		border-bottom-color: #dadada;
	}
}
