<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui" xmlns:p="http://primefaces.org/ui"
	template="/templates/Layout.xhtml">

	<ui:define name="content">
		<h:form id="frm">
			<div class="ui-fluid">

				<h:graphicImage id="cn_bg" value="#{imageConstants.logo}"
					styleClass="bg-calc" />

				<ul style="position: absolute; top: 6%;" class="about_title">
					<h:outputText value="Sobre o software" style="margin-left:-20px" />
					<li>Pode apresentar divergências de cálculos com o sistema
						SISAV;</li>
					<li>Não objetiva o lucro;</li>
					<li>É feito de estudantes para estudantes.</li>
				</ul>
				<p:outputPanel style="position: absolute; bottom: 3%;">
					<h:outputText value="Contato: " />
					<p:link href="mailto:vinicamarggo@hotmail.com"
						value="vinicamarggo@hotmail.com" />
				</p:outputPanel>
			</div>
		</h:form>
	</ui:define>

</ui:composition>