<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui" xmlns:p="http://primefaces.org/ui"
	template="/templates/Layout.xhtml">


	<f:metadata>
		<o:viewParam name="cursoDisciplina"
			value="#{calculadoraController.cursoDisciplina}"
			converter="cursoDisciplinaConverter" />
		<f:viewAction action="#{calculadoraController.inicializar}" />
	</f:metadata>

	<ui:define name="content">
		<h:form id="frm">
			<h:graphicImage id="cn_bg" value="#{imageConstants.logo}"
				styleClass="bg-calc" />
			<div class="ui-fluid">
				<p:autoComplete placeholder="Digite o curso ou matéria"
					value="#{calculadoraController.keyWordBusca}"
					style="margin-top:10px"
					completeMethod="#{calculadoraController.completa}"
					forceSelection="true" minQueryLength="2">
					<f:ajax event="itemSelect"
						listener="#{calculadoraController.busca}" />
				</p:autoComplete>
				<p:panel>

					<h:outputText
						value="#{calculadoraController.cursoDisciplina.toString()}"
						styleClass="title_form" />
					<p:separator />

					<p:dataTable value="#{calculadoraController.avaliacoes}"
						reflow="true" style="margin-top: 15px; margin-bottom: 15px"
						styleClass="noBorder" var="avaliacao">
						<p:column headerText="Descrição"
							styleClass="column_title_calculadora">
							<p:outputLabel value="#{avaliacao.descricao}"
								styleClass="text_calculadora" />
						</p:column>
						<p:column headerText="Porcentagem Sub"
							styleClass="column_title_calculadora">
							<p:outputLabel value="#{avaliacao.getPorcentagemSub()}"
								styleClass="text_calculadora">
								<f:convertNumber type="percent" maxFractionDigits="2" />
							</p:outputLabel>
						</p:column>

						<p:column headerText="Peso" styleClass="column_title_calculadora">
							<p:outputLabel value="#{avaliacao.peso}"
								styleClass="text_calculadora" />
						</p:column>

						<p:column headerText="Peso Relativo"
							styleClass="column_title_calculadora">
							<p:outputLabel value="#{avaliacao.pesoRelativo}"
								styleClass="text_calculadora">
								<f:convertNumber type="percent" maxFractionDigits="2" />
							</p:outputLabel>
						</p:column>

						<p:column headerText="Insira sua nota" id="c_insiraNota"
							styleClass="column_title_calculadora">
							<p:inputMask value="#{avaliacao.nota}" maxlength="3" id="nota"
								placeholder="0 até 100">
								<p:ajax update="total, frm:totalGeral, frm:op_Exame"
									listener="#{calculadoraController.calculaTotalGeral}"
									event="keyup" delay="550" />
								<f:convertNumber integerOnly="true" />
							</p:inputMask>
						</p:column>
						<p:column headerText="Total" styleClass="column_title_calculadora">
							<p:outputLabel value="#{avaliacao.total}" id="total"
								styleClass="text_calculadora">
								<f:convertNumber maxFractionDigits="1" locale="en" />
							</p:outputLabel>
						</p:column>
					</p:dataTable>

					<p:outputPanel>
						<h:outputText value="Total Geral" styleClass="column_title" />
						<h:outputText id="totalGeral"
							style="float:right; margin-right:17.5%"
							value="#{calculadoraController.totalGeral}"
							styleClass="column_title" />
					</p:outputPanel>
					<p:outputPanel id="op_Exame" style="margin-top:15px;">
						<p:outputLabel value="#{calculadoraController.statusDisciplina}"
							for="totalExame" styleClass="column_title text_center" />
						<h:outputText id="totalExame"
							style="float:right; margin-right:17.5%; color: red"
							value="#{calculadoraController.totalExame}"
							rendered="#{calculadoraController.fimCalculos}"
							styleClass="column_title" />
					</p:outputPanel>


				</p:panel>
				<p:commandLink action="#{calculadoraController.geraCombinacao}"
					ajax="true" oncomplete="PF('combinacaoDialog').show()"
					update="combinacaoDialog" id="cl_novo">
					<p:graphicImage title="Sugerir notas"
						value="${imageConstants.combinacoesIcon}"
						styleClass="materialButton1St" />
				</p:commandLink>

				<p:dialog widgetVar="combinacaoDialog" id="combinacaoDialog"
					resizable="false" responsive="true" closeOnEscape="true"
					style="min-width: 300px; max-width:30%" showHeader="false">
					<h:outputText value="Notas" styleClass="column_title" />

					<p:commandLink update="pg_opcoes, @this, cl_atualizarCombinacoes"
						action="#{calculadoraController.showOpcoes()}">
						<p:graphicImage title="Mais opções"
							value="${imageConstants.addIcon}"
							styleClass="materialButtonAddMinus"
							rendered="#{!calculadoraController.showOpcoes}" />
						<p:graphicImage title="Menos opções"
							value="${imageConstants.minusIcon}"
							styleClass="materialButtonAddMinus"
							rendered="#{calculadoraController.showOpcoes}" />
					</p:commandLink>

					<p:commandLink onclick="PF('combinacaoDialog').hide();">
						<p:graphicImage value="${imageConstants.closeIcon}"
							styleClass="buttonClose" style="position:absolute; right:5%" />
					</p:commandLink>

					<p:separator />

					<p:panelGrid columns="2" layout="grid"
						columnClasses="ui-grid-col-5, ui-grid-col-7"
						styleClass="panelgrid-noborder" id="pg_opcoes">
						<p:outputLabel value="Média desejada:" for="mediaDesejada"
							rendered="#{calculadoraController.showOpcoes}" />
						<p:selectOneMenu id="mediaDesejada"
							rendered="#{calculadoraController.showOpcoes}"
							value="#{combinacaoController.mediaDesejada}" editable="true">
							<f:selectItem itemValue="60" itemLabel="60" />
							<f:selectItem itemValue="70" itemLabel="70" />
							<f:selectItem itemValue="80" itemLabel="80" />
							<f:selectItem itemValue="90" itemLabel="90" />
						</p:selectOneMenu>
						<p:outputLabel value="Tipo combinação:" for="tipoCombinacao"
							rendered="#{calculadoraController.showOpcoes}" />
						<p:selectOneMenu id="tipoCombinacao"
							rendered="#{calculadoraController.showOpcoes}"
							value="#{combinacaoController.tipoCombinacao}">
							<f:selectItems value="${enumController.listTiposCombinacao()}"
								var="tpComb" itemLabel="#{tpComb}" itemValue="#{tpComb}" />
						</p:selectOneMenu>
					</p:panelGrid>
					<p:messages id="message" />
					<p:dataTable value="#{combinacaoController.combinacoesPossiveis}"
						style="margin-top: 15px; margin-bottom: 15px"
						styleClass="noBorder" var="combinacao" id="tableCombinacoes">
						<p:column headerText="Descrição"
							styleClass="column_title_calculadora">
							<p:outputLabel value="#{combinacao.nome}"
								styleClass="text_calculadora" />
						</p:column>

						<p:column headerText="Notas sugeridas"
							styleClass="column_title_calculadora">
							<p:outputLabel value="#{combinacao.notaSugerida}"
								id="notaSugerida" styleClass="text_calculadora">
								<f:convertNumber maxFractionDigits="1" locale="en" />
							</p:outputLabel>
						</p:column>
					</p:dataTable>

					<p:commandLink action="#{calculadoraController.geraCombinacao}"
						ajax="true" update="tableCombinacoes, message, @this"
						id="cl_atualizarCombinacoes"
						style="position:absolute; right:3%; bottom:3%">
						<p:graphicImage id="gi_att" title="Atualizar combinações"
							value="${imageConstants.refreshIcon}"
							styleClass="materialButtonSN"
							rendered="#{calculadoraController.showOpcoes}" />
					</p:commandLink>

				</p:dialog>
			</div>
		</h:form>
	</ui:define>
</ui:composition>