
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/templates/Layout.xhtml">

	<ui:define name="content">
		<h:form id="frm">
			<p:graphicImage cache="true" value="#{imageConstants.forbiddenPage}" />
		</h:form>
	</ui:define>

</ui:composition>