<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui" xmlns:p="http://primefaces.org/ui"
	template="/templates/Layout.xhtml">

	<ui:define name="content">
		<h:form id="frm">
			<div class="ui-fluid">

				<h:graphicImage id="cn_bg" value="#{imageConstants.logo}"
					styleClass="bg-calc" />

				<ul class="about_title">
					<h:outputText value="Como usar:" style="margin-left:-20px" />
					<li>Digite um curso ou matéria desejado na barra de pesquisa
						ao lado do menu;</li>
					<li>Selecione a matéria desejada;</li>
					<li>Insira as notas que já obteve ou espera obter;</li>
					<li>O sistema calculará as notas e, caso desejar, poderá ver
						outras combinações clicando no botão no canto inferior esquerdo;</li>
					<li>Clicando sobre o ícone de "adição", haverão algumas
						personalizações a serem feitas.</li>
				</ul>
				<ul class="about_title">
					<h:outputText value="Tipos de combinações:"
						style="margin-left:-20px" />
					<li><strong>Otimizada</strong> - na qual o sistema sugere maiores notas para as avaliações com maior peso relativo;</li>
					<li><strong>Balanceada</strong> - na qual o sistema sugere notas iguais para todas as avaliações.</li>
				</ul>
				<p:outputPanel style="position: absolute; bottom: 3%;">
					<h:outputText value="Contato: " />
					<p:link href="mailto:vinicamarggo@hotmail.com"
						value="vinicamarggo@hotmail.com" />
				</p:outputPanel>
			</div>
		</h:form>
	</ui:define>

</ui:composition>