<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui" xmlns:p="http://primefaces.org/ui"
	template="/templates/Layout.xhtml">

	<f:metadata>
		<o:viewParam name="keyWordBusca"
			value="#{buscaController.keyWordBusca}" />
		<f:viewAction action="#{buscaController.inicializar}" />
	</f:metadata>

	<ui:define name="content">
		<h:graphicImage id="cn_bg" value="#{imageConstants.logo}"
			styleClass="bg-calc" />
		<h:form id="frm">
			<div class="ui-fluid">
				<p:autoComplete placeholder="Digite o curso ou matéria"
					value="#{buscaController.keyWordBusca}" style="margin-top:10px"
					completeMethod="#{buscaController.completa}">
					<f:ajax event="itemSelect" listener="#{buscaController.busca}"
						update=":dt_main" render="frm" />
				</p:autoComplete>

				<p:dataTable rowHover="true" id="dt_main"
					value="#{buscaController.cursoDisciplinaList}" rows="15"
					paginator="true" var="cursoDisciplina" emptyMessage=" "
					rendered="#{buscaController.cursoDisciplinaList.size()>0}"
					paginatorAlwaysVisible="false" reflow="true" selectionMode="single"
					selection="#{buscaController.cursoDisciplina}"
					rowKey="#{cursoDisciplina.cod}">

					<p:ajax event="rowSelect"
						listener="#{buscaController.abrirCalculadora()}" />

					<p:column headerText="Cód." styleClass="text-center">
						<h:outputText value="#{cursoDisciplina.cod}" />
					</p:column>

					<p:column headerText="Curso" styleClass="text-center">
						<h:outputText value="#{cursoDisciplina.curso.descricao}" />
					</p:column>

					<p:column headerText="Disciplina" styleClass="text-center">
						<h:outputText value="#{cursoDisciplina.disciplina.descricao}" />
					</p:column>

					<p:column headerText="Nr. Avaliações" styleClass="text-center">
						<h:outputText value="#{cursoDisciplina.avaliacoes.size()}" />
					</p:column>

				</p:dataTable>
			</div>
		</h:form>
	</ui:define>

</ui:composition>