<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>

	<f:facet name="first">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</f:facet>

	<title>CalcNotas</title>
	<link rel="shortcut icon"
		href="#{request.contextPath}#{imageConstants.logoICO}"
		id="l_BrowserIcon" />

	<h:outputStylesheet library="martecs" name="styles/custom.css" />
	<h:outputStylesheet library="martecs" name="styles/layout.css" />
	<h:outputStylesheet library="martecs" name="styles/components.css" />

	<h:outputScript target="body" library="primefaces"
		name="jquery/jquery.js" />
	<h:outputScript target="body" library="martecs"
		name="javascripts/app.js" />
</h:head>

<h:body>

	<header class="aw-topbar">
		<h:outputText value="√cN - CalcNotas" styleClass="aw-menu-name" />
		<a style="width: 70px" href="#" class="aw-toggle  js-toggle"><i
			class="fa  fa-bars icon-center" /></a>
	</header>

	<aside class="aw-sidebar  js-sidebar">
		<ui:include src="Menu.xhtml" />
	</aside>

	<section class="aw-content  js-content ">
		<ui:insert name="content" />
	</section>

</h:body>

</html>