<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<nav class="aw-menu ">
		<ul>
			<li id="busca"><h:link outcome="pretty:#{urlConstants.homeURL}">
					<i class="fa  fa-fw  fa-calculator" />Calculadora</h:link></li>

			<li id="ajuda"><h:link outcome="pretty:#{urlConstants.helpURL}">
					<i class="fa  fa-fw  fa-question-circle" />Ajuda</h:link></li>

			<li id="sobre"><h:link outcome="pretty:#{urlConstants.aboutURL}">
					<i class="fa  fa-fw  fa-question" />Sobre</h:link></li>

			<li id="curso"><h:link outcome="#{urlConstants.cursoListURL}"
					rendered="#{sessaoController.nivelAutoridade eq 'ROLE_GERAL'
					or sessaoController.nivelAutoridade eq 'ROLE_ADMIN'}">
					<i class="fa  fa-fw  fa-list-alt" />Cursos</h:link></li>

			<li id="disciplina"><h:link
					outcome="#{urlConstants.disciplinaListURL}"
					rendered="#{sessaoController.nivelAutoridade eq 'ROLE_GERAL' 
					or sessaoController.nivelAutoridade eq 'ROLE_ADMIN' }">
					<i class="fa  fa-fw  fa-book"></i>Disciplinas</h:link></li>

			<li id="curso-disciplina"><h:link
					outcome="#{urlConstants.cursoDisciplinaListURL}"
					rendered="#{sessaoController.nivelAutoridade eq 'ROLE_GERAL'
					or sessaoController.nivelAutoridade eq 'ROLE_ADMIN'}">
					<i class="fa  fa-fw  fa-chain"></i>Disciplina-Curso</h:link></li>

			<li id="user"><h:link outcome="#{urlConstants.usuarioListURL}"
					rendered="#{sessaoController.nivelAutoridade eq 'ROLE_ADMIN'}">
					<i class="fa  fa-fw  fa-user"></i>Usuário</h:link></li>

			<li id="logout"><h:outputLink value="/calcnotas/logout"
					rendered="#{sessaoController.nivelAutoridade eq 'ROLE_GERAL'
					or sessaoController.nivelAutoridade eq 'ROLE_ADMIN'}">
					<i class="fa  fa-fw  fa-power-off"></i>Logout</h:outputLink></li>

		</ul>
	</nav>

</ui:composition>