<!DOCTYPE html>
<!-- @author V.Camargo-->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui" xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="/templates/Layout.xhtml">

	<f:metadata>
		<o:viewParam name="usuario" value="#{usuarioFormController.usuario}"
			converter="usuarioConverter" />
		<f:viewAction action="#{usuarioFormController.inicializar}" />
	</f:metadata>

	<ui:define name="content">
		<h1 class="aw-page-title">Usuário</h1>
		<h:form id="frm">
			<p:focus for="it_id" />
			<p:growl closable="true" id="msgDialog" autoUpdate="false" />

			<div class="ui-fluid">
				<p:panelGrid columns="2" layout="grid"
					style="margin-top: 15px; margin-bottom: 15px"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-2, ui-grid-col-10 ">

					<p:outputLabel for="it_id" value="Login:" />
					<p:inputText id="it_id" value="#{usuarioFormController.usuario.id}"
						required="true" maxlength="10"
						requiredMessage="Id do usuário obrigatório."
						styleClass="input_text_medium" />

					<p:outputLabel for="is_pass1" value="Senha:" />
					<p:password id="is_pass1"
						value="#{usuarioFormController.usuario.password}" required="true"
						maxlength="12" requiredMessage="Senha do usuário obrigatório." />
					<p:outputLabel for="is_pass2" value="Confirmar Senha:" />
					<p:password id="is_pass2"
						value="#{usuarioFormController.usuario.confirmation}"
						required="true" maxlength="12"
						requiredMessage="Confirmação de Senha obrigatório." />

					<p:outputLabel for="som_auth" value="Autoridade:" />
					<p:selectOneMenu id="som_auth"
						value="#{usuarioFormController.usuario.autoridade}"
						required="true" requiredMessage="Autoridade é obrigatória.">
						<f:selectItem itemLabel="Selecione..." noSelectionOption="true" />
						<f:selectItems value="${enumController.listAutoridades()}"
							var="autoridade" itemLabel="#{autoridade}"
							itemValue="#{autoridade}" />
					</p:selectOneMenu>

					<p:outputLabel for="sbc_enable" value="Ativo:" />
					<p:selectBooleanCheckbox id="sbc_enable"
						value="#{usuarioFormController.usuario.enable}" />

				</p:panelGrid>
			</div>
			<p:commandButton value="Salvar"
				action="#{usuarioFormController.save()}" update="frm"
				styleClass="confirmButton" />

		</h:form>
	</ui:define>

</ui:composition>