<!DOCTYPE html >
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui" xmlns:p="http://primefaces.org/ui"
	template="/templates/Layout.xhtml">

	<f:metadata>
		<o:viewParam name="curso" value="#{cursoFormController.curso}"
			converter="cursoConverter" />
		<f:viewAction action="#{cursoFormController.inicializar}" />
	</f:metadata>

	<ui:define name="content">
		<h1 class="aw-page-title">Curso</h1>
		<h:form id="frm">
			<p:focus for="descricao" />
			<p:messages id="msgDialog" autoUpdate="false" />

			<div class="ui-fluid">
				<p:panelGrid columns="2" layout="grid"
					style="margin-top: 15px; margin-bottom: 15px"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-2, ui-grid-col-10 ">

					<p:outputLabel value="Descrição" for="descricao" />
					<p:inputText id="descricao" maxlength="256"
						value="#{cursoFormController.curso.descricao}" />

					<h:outputText value="Departamento:" />
					<p:selectOneMenu value="#{cursoFormController.curso.departamento}">
						<f:selectItem noSelectionOption="true" itemLabel="Selecione..." />
						<f:selectItems value="${enumController.listDepartamentos()}"
							var="dpto" itemLabel="#{dpto}" itemValue="#{dpto}" />
					</p:selectOneMenu>

					<p:outputLabel value="Status" for="status" />
					<p:inputSwitch id="status" offLabel="Inativo" onLabel="Ativo"
						value="#{cursoFormController.curso.enable}" />

				</p:panelGrid>
			</div>
			<p:commandButton value="Salvar"
				action="#{cursoFormController.save()}" update="frm"
				styleClass="confirmButton" />

		</h:form>
	</ui:define>

</ui:composition>