<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui" xmlns:p="http://primefaces.org/ui"
	template="/templates/Layout.xhtml">

	<ui:define name="content">
		<div align="center">
			<p:panelGrid>
				<p:panel styleClass="panel-login">
					<div align="center">
						<h:graphicImage id="logo" value="#{imageConstants.logo}"
							width="30%" />
					</div>
					<h:outputText value="Usuário ou senha incorretos!"
						rendered="#{param.msg eq 'invalido'}" style="color: darkred" />
					<h:outputText value="Sua sessão foi finalizada!"
						rendered="#{param.msg eq 'sessaoFinalizada'}"
						style="color: darkred" />
					<form action="login" method="post">
						<p:panelGrid columns="2" layout="grid"
							styleClass="panelgrid-noborder"
							columnClasses="ui-grid-col-3, ui-grid-col-9">
							<h:outputLabel for="username" value="Usuário:" />
							<p:inputText id="username" required="true" maxlength="20" />
							<h:outputLabel for="password" value="Senha:" />
							<p:password id="password" required="true" maxlength="32"
								requiredMessage="Insira a senha." />
						</p:panelGrid>
						<h:commandButton id="cl_login" title="Login" value="Login"
							image="#{imageConstants.loginIcon}" styleClass="materialButtonSN"
							style="margin-top:5px;" />
					</form>
				</p:panel>
			</p:panelGrid>
		</div>
	</ui:define>

</ui:composition>