<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui" xmlns:p="http://primefaces.org/ui"
	template="/templates/Layout.xhtml">


	<f:metadata>
		<o:viewParam name="cursoDisciplina"
			value="#{cursoDisciplinaFormController.cursoDisciplina}"
			converter="cursoDisciplinaConverter" />
		<o:viewParam name="copia"
			value="#{cursoDisciplinaFormController.isCopia}"
			converter="booleanConverter" />
		<o:viewParam name="alteracao"
			value="#{cursoDisciplinaFormController.isAlteracao}"
			converter="booleanConverter" />
		<f:viewAction action="#{cursoDisciplinaFormController.inicializar}" />
	</f:metadata>

	<ui:define name="content">
		<h1 class="aw-page-title">Disciplina-Curso</h1>
		<h:form id="frm">
			<p:messages autoUpdate="false" />

			<div class="ui-fluid">
				<p:panelGrid columns="2" layout="grid" id="panelCursoDisciplina"
					style="margin-bottom: 15px" styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-2, ui-grid-col-10 ">

					<p:outputLabel value="Código" for="cod" />
					<p:inputText id="cod" maxlength="8"
						value="#{cursoDisciplinaFormController.cursoDisciplina.cod}"
						required="true" requiredMessage="Código único é obrigatório">
						<f:convertNumber integerOnly="true" groupingUsed="false" />
					</p:inputText>

					<h:outputText value="Curso:" />
					<p:selectOneMenu
						value="#{cursoDisciplinaFormController.cursoDisciplina.curso}"
						required="true" converter="cursoConverter" id="curso"
						requiredMessage="Curso é obrigatório">
						<f:selectItem noSelectionOption="true" itemLabel="Selecione..." />
						<f:selectItems value="${cursoDisciplinaFormController.cursos}"
							var="curso" itemLabel="#{curso.descricao}" itemValue="#{curso}" />
					</p:selectOneMenu>

					<h:outputText value="Disciplina:" />
					<p:selectOneMenu
						value="#{cursoDisciplinaFormController.cursoDisciplina.disciplina}"
						required="true" converter="disciplinaConverter" id="disciplina"
						requiredMessage="Disciplina é obrigatória">
						<f:selectItem noSelectionOption="true" itemLabel="Selecione..." />
						<f:selectItems
							value="${cursoDisciplinaFormController.disciplinas}"
							var="disciplina" itemLabel="#{disciplina.descricaoCurta}"
							itemValue="#{cursdisciplina}" />
					</p:selectOneMenu>
				</p:panelGrid>
			</div>

			<p:commandButton value="Nova avaliação"
				action="#{cursoDisciplinaFormController.novaAvaliacao}"
				oncomplete="PF('avaliacaoDialog').show()" process="@this"
				update="avaliacaoPanel">
				<p:resetInput target="avaliacaoPanel" />
			</p:commandButton>

			<p:contextMenu for="avaliacoesTable">
				<p:menuitem value="Delete" icon="ui-icon-trash"
					update="avaliacoesTable"
					action="#{cursoDisciplinaFormController.removeAvaliacao()}">
				</p:menuitem>
			</p:contextMenu>

			<p:dataTable id="avaliacoesTable" widgetVar="avaliacoestable"
				value="#{cursoDisciplinaFormController.avaliacoes}" var="avaliacao"
				emptyMessage="Nenhuma avaliação adicionada." reflow="true"
				style="margin-top: 10px" selectionMode="single" rowHover="true"
				selection="#{cursoDisciplinaFormController.avaliacao}"
				rowKey="#{avaliacao.descricao}">

				<p:ajax event="rowSelect" oncomplete="PF('avaliacaoDialog').show();"
					process="@this" update="frm:avaliacaoPanel" />

				<p:column headerText="Descrição">
					<h:outputText value="#{avaliacao.descricao}" />
				</p:column>

				<p:column headerText="Porcentagem subavaliação">
					<h:outputText value="#{avaliacao.getPorcentagemSub()}">
						<f:convertNumber type="percent" />
					</h:outputText>
				</p:column>

				<p:column headerText="Peso">
					<h:outputText value="#{avaliacao.peso}" />
				</p:column>

			</p:dataTable>

			<p:commandButton value="Salvar" id="salvar"
				action="#{cursoDisciplinaFormController.save()}"
				styleClass="confirmButton" style="margin-top:15px" update="frm" />

			<p:dialog widgetVar="avaliacaoDialog" header="Avaliação"
				id="avaliacaodialog" resizable="false" style="min-width: 300px"
				responsive="true" dynamic="true">

				<p:defaultCommand target="add" scope="avaliacaodialog" />
				<h:panelGroup id="avaliacaoPanel" layout="block"
					styleClass="ui-fluid">
					<p:messages id="msgDialog" autoUpdate="false" />

					<p:panelGrid columns="2" layout="grid"
						styleClass="panelgrid-noborder"
						columnClasses="ui-grid-col-4, ui-grid-col-8">

						<p:outputLabel value="Descrição" for="descricao" />
						<p:inputText id="descricao"
							value="#{cursoDisciplinaFormController.avaliacao.descricao}" />

						<p:outputLabel value="Porcentagem subavaliação" for="sub" />
						<p:inputText id="sub"
							value="#{cursoDisciplinaFormController.avaliacao.sub}">
						</p:inputText>

						<p:outputLabel value="Peso" for="peso" />
						<p:inputText id="peso"
							value="#{cursoDisciplinaFormController.avaliacao.peso}">
							<f:convertNumber pattern="0.0" maxFractionDigits="2" locale="en" />
						</p:inputText>

						<p:outputLabel />
						<p:commandButton value="Adicionar" id="add"
							action="#{cursoDisciplinaFormController.adicionarAvaliacao}"
							process="avaliacaoPanel" update="avaliacaoPanel avaliacoesTable"
							styleClass="confirmButton"
							oncomplete="if (!args.validationFailed) PF('avaliacaoDialog').hide()" />

					</p:panelGrid>

				</h:panelGroup>

			</p:dialog>

		</h:form>
	</ui:define>

</ui:composition>