<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui" xmlns:p="http://primefaces.org/ui"
	template="/templates/Layout.xhtml">



	<ui:define name="content">
		<h:form id="f_mainForm" prependId="false">

			<p:spacer width="10px" />

			<h:panelGrid id="p_datagrid" style="width : 100%;font-size: 10px">

				<p:contextMenu for="dt_main">
					<p:menuitem value="Remover" update="dt_main" icon="ui-icon-trash"
						oncomplete="PF('cd_confExcl').show()" />
					<p:menuitem value="Copiar" update="dt_main" icon="fa fa-copy"
						actionListener="#{cursoDisciplinaController.copiarCursoDisciplina}" />
				</p:contextMenu>

				<p:dataTable rowHover="true" id="dt_main"
					value="#{cursoDisciplinaController.cursoDisciplinaList}"
					emptyMessage="Nenhum resultado!" rows="15" paginator="true"
					var="cursoDisciplina" paginatorAlwaysVisible="false" reflow="true"
					selectionMode="single"
					selection="#{cursoDisciplinaController.cursoDisciplina}"
					rowKey="#{cursoDisciplina.cod}">
					<f:facet name="header">
				        Disciplinas-Curso
				    </f:facet>

					<p:ajax event="rowSelect"
						listener="#{cursoDisciplinaController.editar()}" />

					<p:column headerText="Cód." styleClass="text-center"
						sortBy="#{cursoDisciplina.cod}" filterBy="#{cursoDisciplina.cod}"
						filterStyle="width: 90%;">
						<h:outputText value="#{cursoDisciplina.cod}" />
					</p:column>

					<p:column headerText="Curso" styleClass="text-center"
						sortBy="#{cursoDisciplina.curso.descricao}"
						filterBy="#{cursoDisciplina.curso.descricao}"
						filterStyle="width: 90%;">
						<h:outputText value="#{cursoDisciplina.curso.descricao}" />
					</p:column>

					<p:column headerText="Disciplina" styleClass="text-center"
						sortBy="#{cursoDisciplina.disciplina.descricao}"
						filterBy="#{cursoDisciplina.disciplina.descricao}"
						filterStyle="width: 90%;">
						<h:outputText value="#{cursoDisciplina.disciplina.descricao}" />
					</p:column>

					<p:column headerText="Nr. Avaliações" styleClass="text-center"
						sortBy="#{cursoDisciplina.avaliacoes.size()}">
						<h:outputText value="#{cursoDisciplina.avaliacoes.size()}" />
					</p:column>

					<p:column headerText="Usuário Responsável" styleClass="text-center"
						filterBy="#{cursoDisciplina.usuarioResponsavel}"
						filterStyle="width: 90%;">
						<h:outputText value="#{cursoDisciplina.usuarioResponsavel}" />
					</p:column>

				</p:dataTable>
			</h:panelGrid>

			<p:confirmDialog message="Confirma excluir disciplina-curso?"
				header="Exclusão" severity="alert" widgetVar="cd_confExcl"
				width="500" modal="true">
				<div align="center">
					<p:commandLink id="cmd_sim" update=":f_mainForm"
						oncomplete="PF('cd_confExcl').hide()"
						action="#{cursoDisciplinaController.delete}" ajax="false">
						<p:graphicImage title="Sim" value="${imageConstants.confirmIcon}"
							styleClass="materialButtonSN" />
					</p:commandLink>
					<p:commandLink id="cmd_nao" onclick="PF('cd_confExcl').hide()"
						style="margin-left:10px">
						<p:graphicImage title="Não"
							value="${imageConstants.notConfirmIcon}"
							styleClass="materialButtonSN" />
					</p:commandLink>
				</div>
			</p:confirmDialog>

			<p:commandLink action="#{cursoDisciplinaController.novo}" ajax="true"
				update="dt_main" id="cl_novo">
				<p:graphicImage title="Incluir" value="${imageConstants.addIcon}"
					styleClass="materialButton1St" />
			</p:commandLink>
		</h:form>
	</ui:define>
</ui:composition>
