<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui" xmlns:p="http://primefaces.org/ui"
	template="/templates/Layout.xhtml">

	<f:metadata>
		<o:viewParam name="disciplina"
			value="#{disciplinaFormController.disciplina}"
			converter="disciplinaConverter" />
		<f:viewAction action="#{disciplinaFormController.inicializar}" />
	</f:metadata>

	<ui:define name="content">
		<h1 class="aw-page-title">Disciplina</h1>
		<h:form id="frm">
			<p:focus for="descricao" />
			<p:messages autoUpdate="false" />

			<div class="ui-fluid">
				<p:panelGrid columns="2" layout="grid"
					style="margin-top: 15px; margin-bottom: 15px"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-2, ui-grid-col-10 ">

					<p:outputLabel value="Descrição" for="descricao" />
					<p:inputText id="descricao" maxlength="256"
						value="#{disciplinaFormController.disciplina.descricao}" />

					<p:outputLabel value="Descrição curta" for="descricaoCurta" />
					<p:inputText id="descricaoCurta" maxlength="20"
						value="#{disciplinaFormController.disciplina.descricaoCurta}" />

				</p:panelGrid>
			</div>
			<p:commandButton value="Salvar"
				action="#{disciplinaFormController.save()}"
				styleClass="confirmButton" update="frm" />

		</h:form>
	</ui:define>

</ui:composition>