<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui" xmlns:p="http://primefaces.org/ui"
	template="/templates/Layout.xhtml">



	<ui:define name="content">
		<h:form id="f_mainForm" prependId="false">

			<p:spacer width="10px" />

			<h:panelGrid id="p_datagrid" style="width : 100%;font-size: 10px">

				<p:contextMenu for="dt_main">
					<p:menuitem value="Delete" update="dt_main" icon="ui-icon-trash"
						oncomplete="PF('cd_confExcl').show()" />
				</p:contextMenu>
				<p:messages />
				<p:dataTable rowHover="true" id="dt_main"
					value="#{disciplinaController.disciplinaList}"
					emptyMessage="Nenhum resultado!" rows="15" paginator="true"
					var="disciplina" paginatorAlwaysVisible="false" reflow="true"
					selectionMode="single"
					selection="#{disciplinaController.disciplina}"
					rowKey="#{disciplina.id}" paginatorPosition="top">
					<f:facet name="header">
				        Disciplinas
				    </f:facet>

					<p:ajax event="rowSelect"
						listener="#{disciplinaController.editar()}" />

					<p:column headerText="Descrição" styleClass="text-center"
						sortBy="#{disciplina.descricao}"
						filterBy="#{disciplina.descricao}" filterStyle="width: 90%;">
						<h:outputText value="#{disciplina.descricao}" />
					</p:column>

					<p:column headerText="Descrição curta" styleClass="text-center"
						sortBy="#{disciplina.descricaoCurta}"
						filterBy="#{disciplina.descricaoCurta}" filterStyle="width: 90%;">
						<h:outputText value="#{disciplina.descricaoCurta}" />
					</p:column>

				</p:dataTable>
			</h:panelGrid>


			<p:confirmDialog message="Confirma excluir disciplina?"
				header="Exclusão" severity="alert" widgetVar="cd_confExcl"
				width="500" modal="true">
				<div align="center">
					<p:commandLink id="cmd_sim" update=":f_mainForm"
						oncomplete="PF('cd_confExcl').hide()"
						action="#{disciplinaController.delete}" ajax="false">
						<p:graphicImage title="Sim" value="${imageConstants.confirmIcon}"
							styleClass="materialButtonSN" />
					</p:commandLink>
					<p:commandLink id="cmd_nao" onclick="PF('cd_confExcl').hide()"
						style="margin-left:10px">
						<p:graphicImage title="Não"
							value="${imageConstants.notConfirmIcon}"
							styleClass="materialButtonSN" />
					</p:commandLink>
				</div>
			</p:confirmDialog>

			<p:commandLink action="#{disciplinaController.novo}" ajax="true"
				update="dt_main" id="cl_novo">
				<p:graphicImage title="Incluir" value="${imageConstants.addIcon}"
					styleClass="materialButton1St" />
			</p:commandLink>
		</h:form>
	</ui:define>
</ui:composition>
